@page "{id:int}"
@model EditModel

@{
    ViewData["Title"] = "Edit Customer";
}

<h1>Edit Workorder - @Model.WorkOrder.Id</h1>
<div class="row">
    <div class="col-md-4">
        <form method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="WorkOrder.Id" type="hidden" />

    <div class="form-group">
        <label asp-for="WorkOrder.Name"></label>
        <input asp-for="WorkOrder.Name" class="form-control" />
        <span asp-validation-for="WorkOrder.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="WorkOrder.Address"></label>
        <input asp-for="WorkOrder.Address" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="WorkOrder.Description"></label>
        <input asp-for="WorkOrder.Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="WorkOrder.Start"></label>
        <input asp-for="WorkOrder.Start" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="WorkOrder.Status"></label>
        <input asp-for="WorkOrder.Status" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="WorkOrder.SentInvoice"></label>
        <input asp-for="WorkOrder.SentInvoice" class="form-control" />
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>  
</form>
</div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}